[Desktop Entry]
Name=Printers (CUPS)
Name[am]=Printers (CUPS)
Name[ar]=Printers (CUPS)
Name[bg]=Printers (CUPS)
Name[ca]=Printers (CUPS)
Name[cs]=Printers (CUPS)
Name[da]=Printere (CUPS)
Name[de]=Drucker (CUPS)
Name[el]=Printers (CUPS)
Name[es]=Impresoras (CUPS)
Name[et]=Printers (CUPS)
Name[eu]=Printers (CUPS)
Name[fa]=Printers (CUPS)
Name[fi]=Tulostimet (CUPS)
Name[fr]=Imprimantes (CUPS)
Name[he_IL]=Printers (CUPS)
Name[hi]=Printers (CUPS)
Name[hr]=Printers (CUPS)
Name[hu]=Printers (CUPS)
Name[id]=Printers (CUPS)
Name[is]=Printers (CUPS)
Name[it]=Stampanti (CUPS)
Name[ja_JP]=Printers (CUPS)
Name[ja]=Printers (CUPS)
Name[kk]=Printers (CUPS)
Name[ko]=Printers (CUPS)
Name[lt]=Printers (CUPS)
Name[mk]=Printers (CUPS)
Name[nb]=Printers (CUPS)
Name[nl]=Printers (CUPS)
Name[pl]=Drukarki (CUPS)
Name[pt_BR]=Impressoras
Name[pt]=Printers (CUPS)
Name[ro]=Printers (CUPS)
Name[ru]=Printers (CUPS)
Name[sk]=Printers (CUPS)
Name[sl]=Printers (CUPS)
Name[sq]=Printers (CUPS)
Name[sr]=Printers (CUPS)
Name[sv]=Skrivare (CUPS)
Name[tr]=Printers (CUPS)
Name[uk]=Printers (CUPS)
Name[zh_CN]=Printers (CUPS)
Name[zh_TW]=Printers (CUPS)
Comment=Manage printers in a browser
Comment[am]=Manage printers in a browser
Comment[ar]=Manage printers in a browser
Comment[bg]=Manage printers in a browser
Comment[ca]=Manage printers in a browser
Comment[cs]=Manage printers in a browser
Comment[da]=Håndter printere i en browser
Comment[de]=Druckerverwaltung in einem Browser
Comment[el]=Διαχειριστείτε τους εκτυπωτές μέσω ενός προγράμματος περιήγησης
Comment[es]=Gestionar impresoras en el navegador
Comment[et]=Manage printers in a browser
Comment[eu]=Manage printers in a browser
Comment[fa]=Manage printers in a browser
Comment[fi]=Hallitse tulostimia selaimessa
Comment[fr]=Gérer les imprimantes dans un navigateur
Comment[he_IL]=Manage printers in a browser
Comment[hi]=Manage printers in a browser
Comment[hr]=Manage printers in a browser
Comment[hu]=Manage printers in a browser
Comment[id]=Manage printers in a browser
Comment[is]=Manage printers in a browser
Comment[it]=Gestire le stampanti con un browser
Comment[ja_JP]=Manage printers in a browser
Comment[ja]=Manage printers in a browser
Comment[kk]=Manage printers in a browser
Comment[ko]=Manage printers in a browser
Comment[lt]=Manage printers in a browser
Comment[mk]=Manage printers in a browser
Comment[nb]=Manage printers in a browser
Comment[nl]=Beheer printers in een browser
Comment[pl]=Zarządzaj drukarkami poprzez przeglądarkę
Comment[pt_BR]=Gerencie impressoras num navegador usando CUPS
Comment[pt]=Manage printers in a browser
Comment[ro]=Manage printers in a browser
Comment[ru]=Manage printers in a browser
Comment[sk]=Manage printers in a browser
Comment[sl]=Manage printers in a browser
Comment[sq]=Manage printers in a browser
Comment[sr]=Manage printers in a browser
Comment[sv]=Hantera skrivare i en webbläsare
Comment[tr]=Manage printers in a browser
Comment[uk]=Manage printers in a browser
Comment[zh_CN]=Manage printers in a browser
Comment[zh_TW]=Manage printers in a browser
Exec=xdg-open http://localhost:631
Icon=printer
NoDisplay=false
Type=Application
Categories=System;
