[Desktop Entry]
Name=Printers (CUPS)
Name[ca]=Impressores (CUPS)
Name[de]=Drucker
Name[fr]=Imprimantes
Name[el]=Εκτυπωτές (CUPS)
Name[es]=Impresoras (CUPS)
Name[it]=Stampanti (CUPS)
Name[ja]=プリンター (CUPS)
Name[sv]=Skrivare (CUPS)
Comment=Manage printers in a browser
Comment[ca]=Gestionar les impressores mitjançant el navegador
Comment[de]=Verwalten von Druckern über einen Browser
Comment[fr]=Gérer les imprimantes à partir d'un navigateur
Comment[el]=Διαχείριση εκτυπωτών σε browser
Comment[es]=Manejar impresoras en el navegador
Comment[it]=Gestire le stampanti mediante un Browser
Comment[ja]=プリンター管理をブラウザで表示
Comment[sv]=Hantera skrivare i en webbläsare
Exec=xdg-open http://localhost:631
Icon=printer
NoDisplay=false
Type=Application
Categories=System;
