[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=keyboard switcher
Comment=start keyboard switcher if multiple keyboards detected
Exec=fbxkb-start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

