[Desktop Entry]
Encoding=UTF-8
Version=0.1.0
Type=Application
Name=Xkbset
Comment=Set live keyboard
#Exec=setxkbmap -layout "" -option "" -variant ""
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

