Source: desktop-defaults-xfce-mx17
Section: system
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: desktop-defaults-xfce-mx17
Architecture: all
Recommends: lightdm
Description: desktop defaults for MX-17 Xfce.
