show_frame=true
fg_set=true
bg_set=true
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%H:%M
font0=Droid Sans Bold 8
tooltip=%c
hib_timing=false
fg=65535R 65535G 65535B
bg=11051R 13878G 16448B

