[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Blueman-start
Comment=start blueman if bluetooth adapter present
Exec=/usr/local/bin/blueman-start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

