[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Volume
Comment=Control volume
Exec=/usr/bin/volumeicon
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

